body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #080f10;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-top: 2rem;
  background-color: #86a386;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #080f10;
}
button:active {
  border-color: #7a7a25;
}

input {
  width: 100%;
  height: 2em;
  background-color: #bbccbb;
  border: 2px solid #393926;
  border-radius: 7px;
  outline: none;
}
input:focus {
  border-color: #080f10;
}


